NEXT_PUBLIC_S3_URL="YOU BUCKET URL"
BUCKET_NAME="YOU BUCKET NAME"
NEXT_PUBLIC_AWS_REGION="YOU AWS REGION"
AWS_REGION="YOU AWS REGION"
APP_ENV="development"
CLOUDFRONT_MULTI_TENANT_DISTRIBUTION_ID="YOU CLOUDFRONT MULTI TENANT DISTRIBUTION ID"
NEXT_PUBLIC_APP_ENV="development"
JWT_SECRET="YOU JWT KEY"
SES_FROM_EMAIL="YOU EMAIL FROM SES"
SES_REPLY_TO_EMAIL="YOU EMAIL FROM REPLY SES
LAMBDA_EMAIL_BULK="YOU LAMBDA FOR EMAILS"