# Output/build/cache
.next
node_modules
coverage
build
dist

# Infra/large directories not needed for app linting
amplify
.amplify
public
template
scripts
lambda-edge-host-rewriter

# Optional: ignore plain JS assets under renderer engine
renderer-engine/liquid/**/*.js

