# Forzar que .go cuente como Go
*.go linguist-language=Go
*.mod linguist-language=Go

# Forzar que .sh cuente como Shell
*.sh linguist-language=Shell

# Forzar que mdx cuente como MDX
*.mdx linguist-language=MDX

